### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

### Reading data

In [2]:
cities_df = pd.read_csv(r"C:\Users\ap422\OneDrive\Documents\CodeBasics_ResumeProject\Challenge_6\C6 Input to participants\Dataset\dim_cities.csv")
respondents_df = pd.read_csv(r"C:\Users\ap422\OneDrive\Documents\CodeBasics_ResumeProject\Challenge_6\C6 Input to participants\Dataset\dim_repondents.csv")
survey_responses_df = pd.read_csv(r"C:\Users\ap422\OneDrive\Documents\CodeBasics_ResumeProject\Challenge_6\C6 Input to participants\Dataset\fact_survey_responses.csv")

### Dry run over data

#### 1. Shape of data

* __Method 1__

In [3]:
cities_df.shape

(10, 3)

In [4]:
respondents_df.shape

(10000, 5)

In [5]:
survey_responses_df.shape

(10000, 23)

* __Method 2__

> zip() function is used to iterate over both the DataFrames in the list l and the corresponding names in the names list simultaneously.

In [6]:
l = [cities_df, respondents_df, survey_responses_df]
names = ["cities_df", "respondents_df", "survey_responses_df"]

for df, name in zip(l, names):
    print(f"DataFrame Name: {name}")
    print(f"Shape: {df.shape}")
    print("")

DataFrame Name: cities_df
Shape: (10, 3)

DataFrame Name: respondents_df
Shape: (10000, 5)

DataFrame Name: survey_responses_df
Shape: (10000, 23)

#### 2. Null values??

* __Method 1__

In [7]:
cities_df.isnull().sum()

City_ID    0
City       0
Tier       0
dtype: int64

In [8]:
respondents_df.isnull().sum()

Respondent_ID    0
Name             0
Age              0
Gender           0
City_ID          0
dtype: int64

In [9]:
survey_responses_df.isnull().sum()

Response_ID                       0
Respondent_ID                     0
Consume_frequency                 0
Consume_time                      0
Consume_reason                    0
Heard_before                      0
Brand_perception                  0
General_perception                0
Tried_before                      0
Taste_experience                  0
Reasons_preventing_trying         0
Current_brands                    0
Reasons_for_choosing_brands       0
Improvements_desired              0
Ingredients_expected              0
Health_concerns                   0
Interest_in_natural_or_organic    0
Marketing_channels                0
Packaging_preference              0
Limited_edition_packaging         0
Price_range                       0
Purchase_location                 0
Typical_consumption_situations    0
dtype: int64

* __Method 2__

In [10]:
l = [cities_df, respondents_df, survey_responses_df]
names = ["cities_df", "respondents_df", "survey_responses_df"]

for df, name in zip(l, names):
    print(f"DataFrame Name: {name}")
    print(f"{df.isnull().sum()}")
    print("")

DataFrame Name: cities_df
City_ID    0
City       0
Tier       0
dtype: int64

DataFrame Name: respondents_df
Respondent_ID    0
Name             0
Age              0
Gender           0
City_ID          0
dtype: int64

DataFrame Name: survey_responses_df
Response_ID                       0
Respondent_ID                     0
Consume_frequency                 0
Consume_time                      0
Consume_reason                    0
Heard_before                      0
Brand_perception                  0
General_perception                0
Tried_before                      0
Taste_experience                  0
Reasons_preventing_trying         0
Current_brands                    0
Reasons_for_choosing_brands       0
Improvements_desired              0
Ingredients_expected              0
Health_concerns                   0
Interest_in_natural_or_organic    0
Marketing_channels                0
Packaging_preference              0
Limited_edition_packaging         0
Price_range                       0
Purchase_location                 0
Typical_consumption_situations    0
dtype: int64

> __Observation:__ No Null values present

#### 3. Data types

* __Method 1__

In [11]:
cities_df.dtypes

City_ID    object
City       object
Tier       object
dtype: object

In [12]:
respondents_df.dtypes

Respondent_ID     int64
Name             object
Age              object
Gender           object
City_ID          object
dtype: object

In [13]:
survey_responses_df.dtypes

Response_ID                        int64
Respondent_ID                      int64
Consume_frequency                 object
Consume_time                      object
Consume_reason                    object
Heard_before                      object
Brand_perception                  object
General_perception                object
Tried_before                      object
Taste_experience                   int64
Reasons_preventing_trying         object
Current_brands                    object
Reasons_for_choosing_brands       object
Improvements_desired              object
Ingredients_expected              object
Health_concerns                   object
Interest_in_natural_or_organic    object
Marketing_channels                object
Packaging_preference              object
Limited_edition_packaging         object
Price_range                       object
Purchase_location                 object
Typical_consumption_situations    object
dtype: object

* __Method 2__

In [14]:
l = [cities_df, respondents_df, survey_responses_df]
names = ["cities_df", "respondents_df", "survey_responses_df"]

for df, name in zip(l, names):
    print(f"DataFrame Name: {name}")
    print(f"{df.dtypes}")
    print("")

DataFrame Name: cities_df
City_ID    object
City       object
Tier       object
dtype: object

DataFrame Name: respondents_df
Respondent_ID     int64
Name             object
Age              object
Gender           object
City_ID          object
dtype: object

DataFrame Name: survey_responses_df
Response_ID                        int64
Respondent_ID                      int64
Consume_frequency                 object
Consume_time                      object
Consume_reason                    object
Heard_before                      object
Brand_perception                  object
General_perception                object
Tried_before                      object
Taste_experience                   int64
Reasons_preventing_trying         object
Current_brands                    object
Reasons_for_choosing_brands       object
Improvements_desired              object
Ingredients_expected              object
Health_concerns                   object
Interest_in_natural_or_organic    object
Marketing_channels                object
Packaging_preference              object
Limited_edition_packaging         object
Price_range                       object
Purchase_location                 object
Typical_consumption_situations    object
dtype: object

#### 4. Statistical summary

* __Method 1__

In [15]:
cities_df.describe()

       City_ID   City    Tier
count       10     10      10
unique      10     10       2
top      CT111  Delhi  Tier 1
freq         1      1       5

In [16]:
respondents_df.describe()

       Respondent_ID
count    10000.00000
mean    125030.50000
std       2886.89568
min     120031.00000
25%     122530.75000
50%     125030.50000
75%     127530.25000
max     130030.00000

In [17]:
survey_responses_df.describe()

        Response_ID  Respondent_ID  Taste_experience
count   10000.00000    10000.00000      10000.000000
mean   108000.50000   125030.50000          3.281900
std      2886.89568     2886.89568          1.239752
min    103001.00000   120031.00000          1.000000
25%    105500.75000   122530.75000          2.000000
50%    108000.50000   125030.50000          3.000000
75%    110500.25000   127530.25000          4.000000
max    113000.00000   130030.00000          5.000000

* __Method 2__

In [18]:
l = [cities_df, respondents_df, survey_responses_df]
names = ["cities_df", "respondents_df", "survey_responses_df"]

for df, name in zip(l, names):
    print(f"DataFrame Name: {name}")
    print(f"{df.describe()}")
    print("")

DataFrame Name: cities_df
       City_ID   City    Tier
count       10     10      10
unique      10     10       2
top      CT111  Delhi  Tier 1
freq         1      1       5

DataFrame Name: respondents_df
       Respondent_ID
count    10000.00000
mean    125030.50000
std       2886.89568
min     120031.00000
25%     122530.75000
50%     125030.50000
75%     127530.25000
max     130030.00000

DataFrame Name: survey_responses_df
        Response_ID  Respondent_ID  Taste_experience
count   10000.00000    10000.00000      10000.000000
mean   108000.50000   125030.50000          3.281900
std      2886.89568     2886.89568          1.239752
min    103001.00000   120031.00000          1.000000
25%    105500.75000   122530.75000          2.000000
50%    108000.50000   125030.50000          3.000000
75%    110500.25000   127530.25000          4.000000
max    113000.00000   130030.00000          5.000000

> You can do more things like looking at data dstribution using: <br>
* __Numerical variables__: historgram, density plot or box plot <br>
* __Categorical variables__: Bar plots, count plots

## Primary Insights

> __1. Demographic Insights__

__a. Who prefers energy drink more? (male/female/non-binary?)__

In [19]:
respondents_df_selected = respondents_df[['Respondent_ID','Gender']]

survey_responses_df_new = survey_responses_df[survey_responses_df['Consume_frequency']=='Daily']
survey_responses_df_selected = survey_responses_df_new[['Respondent_ID','Consume_frequency']]

joined_df = pd.merge(respondents_df_selected, survey_responses_df_selected, on='Respondent_ID', how='inner')
joined_df.groupby(by=['Gender','Consume_frequency']).count().sort_values(by='Respondent_ID',ascending=False)

                              Respondent_ID
Gender     Consume_frequency
Male       Daily                        817
Female     Daily                        466
Non-binary Daily                         63

<div style="background-color: green; color: white; padding: 10px;">
    <b> Answer is:</b> Male
</div>

__b. Which age group prefers energy drinks more?__

In [20]:
respondents_df_selected = respondents_df[['Respondent_ID','Age']]

survey_responses_df_new = survey_responses_df[survey_responses_df['Consume_frequency']=='Daily']
survey_responses_df_selected = survey_responses_df_new[['Respondent_ID','Consume_frequency']]

joined_df = pd.merge(respondents_df_selected, survey_responses_df_selected, on='Respondent_ID', how='inner')
joined_df.groupby(by=['Age','Consume_frequency']).count().sort_values(by='Respondent_ID',ascending=False)

                         Respondent_ID
Age   Consume_frequency
19-30 Daily                        736
31-45 Daily                        348
15-18 Daily                        196
46-65 Daily                         42
65+   Daily                         24

<div style="background-color: green; color: white; padding: 10px;">
    <b> Answer is:</b> 19-30
</div>

__c. Which type of marketing reaches the most Youth (15-30)?__

In [21]:
survey_responses_df_selected = survey_responses_df[['Respondent_ID','Marketing_channels']]

respondents_df_new = respondents_df[(respondents_df['Age']=='15-18') | (respondents_df['Age']=='19-30')]
respondents_df_selected = respondents_df_new[['Respondent_ID','Age']]

joined_df = pd.merge(respondents_df_selected, survey_responses_df_selected, on='Respondent_ID', how='inner')
joined_df.groupby(by=['Age','Marketing_channels']).count().sort_values(by='Respondent_ID',ascending=False)

                          Respondent_ID
Age   Marketing_channels
19-30 Online ads                   2666
      TV commercials               1290
15-18 Online ads                    707
19-30 Other                         608
      Outdoor billboards            585
15-18 TV commercials                495
19-30 Print media                   371
15-18 Outdoor billboards            117
      Other                          94
      Print media                    75

<div style="background-color: green; color: white; padding: 10px;">
    <b> Answer is:</b> Online ads
</div>

> __2. Consumer preferences__

__a. What are the preferred ingredients of energy drinks among respondents?__

In [24]:
survey_responses_df_selected = survey_responses_df[['Respondent_ID','Ingredients_expected']]

respondents_df_selected = respondents_df[['Respondent_ID']]

joined_df = pd.merge(respondents_df_selected, survey_responses_df_selected, on='Respondent_ID', how='inner')
joined_df.groupby(by=['Ingredients_expected']).count().sort_values(by='Respondent_ID',ascending=False)

                      Respondent_ID
Ingredients_expected
Caffeine                       3896
Vitamins                       2534
Sugar                          2017
Guarana                        1553

<div style="background-color: green; color: white; padding: 10px;">
    <b> Answer is:</b> Caffeine
</div>

__b. What packaging preferences do respondents have for energy drinks?__

In [25]:
survey_responses_df_selected = survey_responses_df[['Respondent_ID','Packaging_preference']]

respondents_df_selected = respondents_df[['Respondent_ID']]

joined_df = pd.merge(respondents_df_selected, survey_responses_df_selected, on='Respondent_ID', how='inner')
joined_df.groupby(by=['Packaging_preference']).count().sort_values(by='Respondent_ID',ascending=False)

                           Respondent_ID
Packaging_preference
Compact and portable cans           3984
Innovative bottle design            3047
Collectible packaging               1501
Eco-friendly design                  983
Other                                485

<div style="background-color: green; color: white; padding: 10px;">
    <b> Answer is:</b> Compact and portable cans
</div>

> __3. Competition Analysis__

__a. Who are the current market leaders?__

In [27]:
survey_responses_df_selected = survey_responses_df[['Respondent_ID','Current_brands']]

respondents_df_selected = respondents_df[['Respondent_ID']]

joined_df = pd.merge(respondents_df_selected, survey_responses_df_selected, on='Respondent_ID', how='inner')
joined_df.groupby(by=['Current_brands']).count().sort_values(by='Respondent_ID',ascending=False)

                Respondent_ID
Current_brands
Cola-Coka                2538
Bepsi                    2112
Gangster                 1854
Blue Bull                1058
CodeX                     980
Sky 9                     979
Others                    479

<div style="background-color: green; color: white; padding: 10px;">
    <b> Answer is:</b> Cola-Coka
</div>

__b. What are the primary reasons consumers prefer those brands over ours?__

In [28]:
survey_responses_df_selected = survey_responses_df[['Respondent_ID','Reasons_for_choosing_brands']]

respondents_df_selected = respondents_df[['Respondent_ID']]

joined_df = pd.merge(respondents_df_selected, survey_responses_df_selected, on='Respondent_ID', how='inner')
joined_df.groupby(by=['Reasons_for_choosing_brands']).count().sort_values(by='Respondent_ID',ascending=False)

                             Respondent_ID
Reasons_for_choosing_brands
Brand reputation                      2652
Taste/flavor preference               2011
Availability                          1910
Effectiveness                         1748
Other                                 1679

<div style="background-color: green; color: white; padding: 10px;">
    <b> Answer is:</b> Brand reputation 
</div>

> __4. Marketing Channels and Brand Awareness__

__a. Which marketing channel can be used to reach more customers?__

In [29]:
survey_responses_df_selected = survey_responses_df[['Respondent_ID','Marketing_channels']]

respondents_df_selected = respondents_df[['Respondent_ID']]

joined_df = pd.merge(respondents_df_selected, survey_responses_df_selected, on='Respondent_ID', how='inner')
joined_df.groupby(by=['Marketing_channels']).count().sort_values(by='Respondent_ID',ascending=False)

                    Respondent_ID
Marketing_channels
Online ads                   4020
TV commercials               2688
Outdoor billboards           1226
Other                        1225
Print media                   841

<div style="background-color: green; color: white; padding: 10px;">
    <b> Answer is:</b> Online ads 
</div>

__b. How effective are different marketing strategies and channels in reaching our customers?__

Online ads and TV commercials are most effective marketing strategies and channels in reaching our customers.

> __5. Brand Penetration__

__a. What do people think about our brand? (overall rating)__

In [32]:
survey_responses_df_selected = survey_responses_df[['Respondent_ID','Taste_experience']]

respondents_df_selected = respondents_df[['Respondent_ID']]

joined_df = pd.merge(respondents_df_selected, survey_responses_df_selected, on='Respondent_ID', how='inner')
joined_df.groupby(by=['Taste_experience']).count().sort_values(by='Respondent_ID',ascending=False)

                  Respondent_ID
Taste_experience
3                          2957
4                          2479
5                          1986
2                          1524
1                          1054

<div style="background-color: green; color: white; padding: 10px;">
    <b> Answer is:</b> Most people have rated our brand as 3 (Average)
</div>

__b. Which cities do we need to focus more on?__

In [62]:
cities_df_selected = cities_df[['City_ID','City']]
respondents_df_selected = respondents_df[['Respondent_ID','City_ID']]

survey_responses_df_new = survey_responses_df[survey_responses_df['Heard_before'] == 'No']
survey_responses_df_selected = survey_responses_df_new[['Respondent_ID','Heard_before']]

joined_df = pd.merge(respondents_df_selected, cities_df_selected, on='City_ID', how='inner')
joined_df1 = pd.merge(survey_responses_df_selected, joined_df, on='Respondent_ID', how='inner')

joined_df1_selected = joined_df1[['Respondent_ID','City']]

joined_df1_selected.groupby(by=['City']).count().sort_values(by='Respondent_ID',ascending=False)

           Respondent_ID
City
Bangalore           1670
Hyderabad           1105
Mumbai               611
Chennai              565
Pune                 529
Kolkata              356
Ahmedabad            249
Jaipur               216
Delhi                162
Lucknow               90

> This question can be approached in many ways, like: the cities to focus on could be the cities where rating is 1 or 2. Also, the cities where brand perception is negative.

<div style="background-color: green; color: white; padding: 10px;">
    <b> Answer is:</b> The top 3 cities where respondents haven't heard of our brand before are - Bangalore, Hyderabad and Mumbai.
</div>

> __6. Purchase Behavior__

__a. Where do respondents prefer to purchase energy drinks?__

In [35]:
survey_responses_df_selected = survey_responses_df[['Respondent_ID','Purchase_location']]

respondents_df_selected = respondents_df[['Respondent_ID']]

joined_df = pd.merge(respondents_df_selected, survey_responses_df_selected, on='Respondent_ID', how='inner')
joined_df.groupby(by=['Purchase_location']).count().sort_values(by='Respondent_ID',ascending=False)

                          Respondent_ID
Purchase_location
Supermarkets                       4494
Online retailers                   2550
Gyms and fitness centers           1464
Local stores                        813
Other                               679

<div style="background-color: green; color: white; padding: 10px;">
    <b> Answer is:</b> Supermarkets
</div>

__b. What are the typical consumption situations for energy drinks among respondents?__

In [36]:
survey_responses_df_selected = survey_responses_df[['Respondent_ID','Typical_consumption_situations']]

respondents_df_selected = respondents_df[['Respondent_ID']]

joined_df = pd.merge(respondents_df_selected, survey_responses_df_selected, on='Respondent_ID', how='inner')
joined_df.groupby(by=['Typical_consumption_situations']).count().sort_values(by='Respondent_ID',ascending=False)

                                Respondent_ID
Typical_consumption_situations
Sports/exercise                          4494
Studying/working late                    3231
Social outings/parties                   1487
Other                                     491
Driving/commuting                         297

<div style="background-color: green; color: white; padding: 10px;">
    <b> Answer is:</b> Sports/exercise
</div>

__c. What factors influence respondents purchase decisions, such as price range and limited edition packaging?__

In [37]:
survey_responses_df_selected = survey_responses_df[['Respondent_ID','Limited_edition_packaging']]

respondents_df_selected = respondents_df[['Respondent_ID']]

joined_df = pd.merge(respondents_df_selected, survey_responses_df_selected, on='Respondent_ID', how='inner')
joined_df.groupby(by=['Limited_edition_packaging']).count().sort_values(by='Respondent_ID',ascending=False)

                           Respondent_ID
Limited_edition_packaging
No                                  4023
Yes                                 3946
Not Sure                            2031

<div style="background-color: green; color: white; padding: 10px;">
    <b> Answer is:</b> We cannot make inference whether limited edition packaging is an influence or not, because the count of respondents who would prefer limited edition versus those who don't, is very small. We will require more data points to conclude it.
</div>

In [38]:
survey_responses_df_selected = survey_responses_df[['Respondent_ID','Price_range']]

respondents_df_selected = respondents_df[['Respondent_ID']]

joined_df = pd.merge(respondents_df_selected, survey_responses_df_selected, on='Respondent_ID', how='inner')
joined_df.groupby(by=['Price_range']).count().sort_values(by='Respondent_ID',ascending=False)

             Respondent_ID
Price_range
50-99                 4288
100-150               3142
Above 150             1561
Below 50              1009

<div style="background-color: green; color: white; padding: 10px;">
    <b> Answer is:</b> Price between 50-99 is highly preferred by most of the respondents. Thus price range has high influence on respondents purchase decisions.
</div>

> __7. Product Development__

__a. Which area of business should we focus more on our product development? (Branding/taste/availability)__

> <b>Brand reputation:</b> Based on survey, when we did competition analysis (3(b)) , we got to know that most of the people prefer other brands (Cola-Coka) over ours because of brand reputation. <br>
__Taste:__ Our brand has average rating by respondents but if we focus on improving the taste, we can make it better and that would attract more customers buying our brand. <br>
__Availability:__ There are some cities where we have high count of respondents who haven't heard of our brand. We can focus on upscaling our brands business there.